@import "../../sass/variable";

.product__box {
  position: relative !important;
  grid-column: span 1;

  overflow: hidden;
  .topSeller{
    width: 120px;
    height: 20px;
    background-color: rgba($color: #000000, $alpha: 0.5);
    position: absolute;
    top: 4%;
    left: -10%;
    z-index: 5;
    transform: rotate(-45deg);
    color: #fff;
    text-align: center;
    font-size: $fs-9;
    font-family: $font-domine;
    padding: 2px 0;
    border-radius: 45%;
  }


  .image {
    width: 100%;
    height: 300px;
    background-color: $footer-back;
    border-radius: 14px;
    overflow: hidden;
    position: relative;
    transition: all 0.5s cubic-bezier(0, 0, 0.3, 1);
    &:hover {
      .img2 {
        z-index: 2;
        opacity: 1;
        transform: scale(1);
      }
      .img1 {
        z-index: 1;
        opacity: 0;
        transform: scale(1);
      }
    }
    img {
      width: 100%;
      height: 100%;
      object-fit: cover;
      position: absolute;
      top: 0;
      left: 0;
      cursor: pointer;
      transition: all 0.5s cubic-bezier(0, 0, 0.3, 1);
    }
    .img2 {
      z-index: 1;
      opacity: 0;
      transform: scale(1.1);
    }
    .img1 {
      z-index: 2;
      opacity: 1;
      transform: scale(1.01);
    }
  }

  .delete__icon{
    position: absolute;
    top: 0;
    right: 0;
    width: 35px;
    height: 35px;
    padding: 5px;
    border-radius: 50%;
    background-color: #ffcaca;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 3;
    .del__icon{
      font-size: 18px;
      color: #ff2424;
      cursor: pointer;
    }
  }
  .confirm__delete{
    background-color: #fff;
    padding: 2rem;
    z-index: 8;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -100%);
    p{
        margin-bottom: 1rem;
        text-align: center;
    }
    .btn_box{
        display: flex;
        gap: 1rem;
        .btn-sec{
            &:hover{
                background-color: unset !important;
                color: unset !important;
            }
        }
    }
    .false_icon{
        position: absolute;
        top: 5px;
        right: 5px;
        font-size: 20px;
        cursor: pointer;
        color: #333;
    }
}
  
  .hover__icon {
    z-index: 3;
    position: absolute;
    bottom: 35%;
    left: 50%;
    transform: translate(-50%, -50%);
    opacity: 0;
    transition: all 0.5s cubic-bezier(0, 0, 0.3, 1);
    display: inline-flex;

    li {
      display: block;
      list-style: none;
      background-color: $white;
      margin: 0.3rem 0.3rem;
      padding: 0.5rem 0.5rem 0.2rem 0.5rem;
      font-size: $fs-4;
      border-radius: 50%;
      cursor: pointer;
    }
  }
  &:hover {
    .hover__icon {
      opacity: 1;
      bottom: 25%;
    }
  }

  .product__card__text {
    text-align: center;
    margin: 1rem 0;
    .shop__name {
      font-size: $fs-8;
      a {
        color: #8ab4f8;
      }
    }
    .product__name {
      font-size: $fs-7;
      font-weight: $weight-500;
      margin-top: 5px;
    }
  }
  .product__rating {
    margin: 10px 0;
    display: inline-block;
  }
  .price_sold {
    display: flex;
    align-items: center;
    justify-content: center;
    .price {
      display: flex;
      gap: 8px;
      align-items: center;
      .selling__price {
        font-size: $fs-8;
        span {
          font-size: $fs-7;
        }
      }
      .original__price {
        position: relative;
        font-size: $fs-9;
        .strike {
          content: "";
          background-color: #333;
          width: 100%;
          height: 0.5px;
          position: absolute;
          top: 50%;
          left: 50%;
          transform: translate(-50%, -50%);
        }
      }
    }
  }
}


 

  @media only screen and (max-width: 774px) {
    .product__box {
      grid-column: span 1;
  
      .image {
        height: 250px;
      }
      .hover__icon {
        display: none !important;
      }
    }
  }

@media only screen and (max-width: 708px) {
  .product__box {  


    .product__card__text {
      margin: 0.5rem 0;
      .product__name {
        font-size: $fs-8;
        font-weight: $weight-400;
      }
      .product__price {
        font-size: $fs-9;
        margin: 0.3rem 0;
      }
      .product__rating {
        font-size: $fs-7;
      }
    }
  }
  .hover__icon {
    display: none !important;
  }
}

@media only screen and (max-width: 647px) {
    .product__box {
      grid-column: span 1;

      .topSeller{
        left: -18%;
      }

  
      .image {
        height: 250px;
      }
    }
  }

  @media only screen and (max-width: 585px) {
    .product__box {
  
      .image {
        height: 200px;
      }
    }
  }

  @media only screen and (max-width: 525px) {
    .product__box {
      .topSeller{
        top: 5%;
        left: -22%;
      }
  
      .image {
        height: 200px;
      }
    }
  }

@media only screen and (max-width: 480px) {
  .product__box {
    // pointer-events: none;
    grid-column: span 1;

    .topSeller{
      top: 4%;
      left: -15%;
    }
    .image {
      // pointer-events: all !important;
      height: 220px;
    }
    .hover__icon {
      visibility: visible !important;
    }

    .product__card__text {
      .product__name {
        font-size: $fs-8;
        color: #333;
      }
      .product__price {
        font-size: $fs-10;
        margin: 0.2rem 0;
      }
      .product__rating {
        font-size: $fs-7;
      }
    }
  }
}

@media only screen and (max-width: 470px) {
  .product__box {

    .image {
      height: 220px;
    }
  }
}

@media only screen and (max-width: 458px) {
  .product__box {
    .topSeller{
      top: 5%;
      // left: -20%;
    }
  }
}



  @media only screen and (max-width: 324px) {
    .product__box {
      grid-column: span 1;
  
      .image {
        height: 240px;
      }
    }
  }


@media only screen and (max-width: 1024px) {
  .product__box {
    .image {
      // height: 300px;

      &:hover {
        .img2 {
          transform: scale(1);
        }
      }
    }
  }
}
