@import "../../../sass/variable.scss";

.order__main{
    height: 80vh;
    overflow-y: scroll;
 
    &::-webkit-scrollbar { 
        width: 0px !important; 
      }
    .box{
        .row{
            display: flex;
            align-items: center;
            justify-content: space-between;
            margin-bottom: 1rem;
            border: 1px solid #eee;
            padding: 1rem 2rem;
            gap: 1rem !important;
            flex-wrap: wrap;
            h4{
                font-size: 1rem;
                color: #333;
            }
            p{
                color: #333;
                font-size: 0.9rem;
            }
        }
    }
}

@media only screen and (max-width: 768px){
    .order__main{
        .box{
            .row{
               
            }
        }
    }
}

