@import "../../../sass/variable";

.product__container{
    
    .product__row{
        margin-top: 4rem;
        margin-bottom: 1rem;
        display: grid;
        grid-template-columns: 25% auto;
        align-items: flex-start;
        gap: 2rem;

        .filter__sidebar{
            .close__icon{
                display: none;
            }
        }
        .product__bar{
            width: 100%;
           
            .top__filter{
                width: 100%;
                display: flex;
                justify-content: space-between;
                align-items: center;
                .filter__open__icon{
                    display: none;
                }
                .total__items{
                    font-size: $fs-8;
                    font-style: italic;
                }
                .top__right__filter{
                    display: flex;
                    align-items: center;
                    gap: 1rem;
                    .grid__icon{
                        font-size: 1.2rem;
                        cursor: pointer;
                    }
                    .list__icon{
                        font-size: 1.6rem;
                        cursor: pointer;
                    }
                    select{
                        padding: 6px !important;
                        background-color: $white;
                        border: 1px solid #eeeeee;
                        outline: none;
                        border-radius: 5px;
                    }
                }
            }

            .product__containers{
                height: 87vh;
                overflow-y: scroll;
                .no__products{
                    width: 100%;
                    height: 60%;
                    display: flex;
                    text-align: center;
                    align-items: center;
                    justify-content: center;
                    p{
                        font-size: 20px;
                        font-family: $font-domine;
                        color: #333;
                    }
                }
                &::-webkit-scrollbar { 
                    width: 0px !important; 
                  }
                .products__row {
                    grid-template-columns: auto auto auto !important;
                    gap: 1rem;
                    margin-top: 2rem;
                }
            }

            .pagination{
                width: 100%;
                display: flex;
                justify-content: center;
                align-items: center;
                margin: 1rem 0;
                ul{
                    display: flex;
                    li{
                        border: 1px solid #eee;
                        padding: 5px;
                        a{
                            color: #333 !important;
                            font-size: $fs-8;
                            font-family: $font-domine;
                        }
                    }
                    .pageLinkActive{
                        color: #000 !important;
                        font-size: $fs-7;
                        font-weight: 500;
                    }
                    :nth-child(3){
                        padding: 5px 10px;
                    }
                    :nth-child(4){
                        padding: 5px 10px;
                    }
                }
            }
        }
    }
}

@media only screen and (max-width: 1024px){
    .product__container{
    
        .product__row{
            position: relative;
            margin-top: 2rem;
            .filter__sidebar{
                max-width: 320px;
                .close__icon{
                    font-size: 1.5rem;
                }
            }
    
            .product__bar{
                .product__container{
                    margin-top: 1.5rem;
                    grid-template-columns: auto auto;
                }
                .top__filter{
                    
                    .top__right__filter{
                        gap: 0.8rem;
                        .grid__icon{
                            font-size: 1.2rem;
                        }
                        .list__icon{
                            font-size: 1.4rem;
                        }
                        select{
                            width: 100px;
                            padding: 5px !important;
                        }
                    }
                }
                .product__containers{
                    height: 70vh;
                    .products__row{
                        grid-template-columns: auto auto !important;
                        gap: 10px;
                        margin-top: 2rem;
                    }
                }
            }
        }
    }
}




@media only screen and (max-width: 768px){
    .product__container{
    
        .product__row{
            position: relative;
            margin-top: 2rem;
            grid-template-columns: auto;
            gap: 0rem;

            .filter__sidebar{
                background: $white;
                position: fixed;
                top: 0;
                left: -100%;
                width: 100%;
                max-width: 450px;
                height: 100vh;
                padding: 30px;
                box-shadow: 0 0 10px hsla(0, 0%, 0%, 0.2);
                overflow-y: scroll;
                overscroll-behavior: contain;
                transition: 0.5s ease !important;
                z-index: 5; 

                .close__icon{
                    display: block;
                    position: absolute;
                    top: 30px;
                    right: 30px;
                    font-size: 1.2rem;
                    cursor: pointer;
                }
            }
            .filter__sidebar.active{
                left: 0;
            }
    
            .product__bar{
                .pagination{
                    margin-bottom: 1.5rem;
                }
                .top__filter{
                    
                    .total__items{
                        display: none;
                    }
                    .filter__open__icon{
                        display: flex;
                        align-items: center;
                        gap: 0.5rem;
                        font-size: 1.2rem;
                        span{
                            font-size: $fs-8;
                        }
                    }
                    .top__right__filter{
                        gap: 0.8rem;
                        .grid__icon{
                            font-size: 1.2rem;
                            cursor: pointer;
                        }
                        .list__icon{
                            font-size: 1.4rem;
                            cursor: pointer;
                        }
                        select{
                            padding: 0 10px;
                            width: 100%;
                        }
                    }
                }
                
                .product__containers{
                    height: 80vh;
                    margin-top: 1.2rem;

                }
            }
        }
    }
}


@media only screen and (max-width: 480px){
    .product__container{
    
        .product__row{
            position: relative;
            margin-top: 2rem;
            .filter__sidebar{
                max-width: 320px;
                .close__icon{
                    font-size: 1.5rem;
                }
            }
    
            .product__bar{
                .pagination{
                    margin-bottom: 1.5rem;
                }
                .product__container{
                    margin-top: 1.5rem;
                    grid-template-columns: auto auto;
                }
                .top__filter{
                    .filter__open__icon{
                        display: flex;
                        align-items: center;
                        span{
                            font-size: $fs-8;
                        }
                    }
                    .total__items{
                        display: none;
                    }
                    .top__right__filter{
                        gap: 1rem;
                        .grid__icon{
                            font-size: 1.2rem;
                        }
                        .list__icon{
                            font-size: 1.4rem;
                        }
                        select{
                            width: 100%;
                            padding: 5px !important;
                        }
                    }
                }
                .product__containers{
                    height: 76vh;
                    .products__row{
                        grid-template-columns: auto auto !important;
                        gap: 10px;
                        margin-top: 2rem;
                    }
                }
            }
        }
    }
}


