@import "../../../sass/variable";

.shop_all_orders{
    height: 80vh;
    overflow-y: scroll;
 
    &::-webkit-scrollbar { 
        width: 0px !important; 
      }
    .order__main{
        .box{
            .center{
                align-items: center;
            }
            .no__orders{
                width: 100%;
                height: 80vh;
                display: flex;
                justify-content: center;
                align-items: center;
                flex-direction: column;
                .icon{
                    color: rgb(94, 94, 94);
                }
            }
            .row{
                display: flex;
                justify-content: space-between;
                margin-bottom: 2rem;
                border: 1px solid #eee;
                padding: 1rem 2rem;
                gap: 2rem;
                .img_name{
                    display: flex;
                    flex-direction: column;
                    gap: 10px;
                    .img_name_row{
                        display: flex;
                        gap: 10px;
                    }
                    img{
                        width: 60px !important;
                        height: 60px !important;
                        object-fit: cover;
                    }
                    p{
                        font-size: $fs-7;
                        color: #333 !important;
                        font-family: $font-domine;
                    }
                }
                .price{
                    font-size: $fs-7;
                    color: #333 !important;
    
                }
                .status{
                    text-align: left;
                    font-size: $fs-7;
                    color: #333 !important;
                    font-weight: 500;
                    p{
                        color: #333 !important;
                        margin-bottom: 1rem;
                    }
                }
                .update__btn{
                    width: 30%;
                    text-align: right ;
                    .btn-sec{
                        padding: 10px !important;
                    }
                }
            }
        }
    }
}

@media only screen and (max-width: 768px){
    .shop_all_orders{
        height: 90vh;
        .order__main{
            .box{
                .row{
                    margin-bottom: 10px;
                    padding: 10px;
                    gap: 10px;
                    .img_name{
                        gap: 5px;
                        .img_name_row{
                            flex-direction: column;
                        }                        
                      
                    }
                    .price{
                        display: none;
                    }
                    .status{
                        display: none;
                    }
                    .update__btn{
                        width: 40%;
                        .btn-sec{
                            padding: 10px !important;
                        }
                    }
                }
            }
        }
    }
}

@media only screen and (max-width: 480px){
    .shop_all_orders{
     
        .order__main{
            .box{
                .row{
                    flex-direction: column;
                    gap: 10px;
                   
                    .update__btn{
                        text-align: left;
                        width: 60%;
                        .btn-sec{
                            padding: 6px 8px !important;
                        }
                    }
                }
            }
        }
    }
}