@import "../../../sass/variable";

.shopcreate__main{
    margin-top: 4rem;
    margin-bottom: 2rem;

    .container__heading{
        margin-bottom: 2rem;
    }

    .signup__row{
        max-width: 500px;
        margin: auto;
                .input__box{
                    position: relative;
                    label{
                        font-size: $fs-7;
                        display: none;
                    }
                    input, textarea{
                        width: 100% !important;
                        padding: 10px 38px;
                        margin-top: 5px;
                        margin-bottom: 15px;
                        border: 1px solid #eee;
                        color: #000;
                        border-radius: 6px;
                        font-size: 13px;
                        line-height: 20px;
                        &:focus{
                            outline: 1px solid $black-main;
                        }
                    }
                    
                    span{
                        position: absolute;
                        top: 50%;
                        left: 2%;
                        transform: translate(0, -50%);
                    }
                    .Pass__icon{
                        position: absolute;
                        top: 50%;
                        right: 10px;
                        transform: translate(0, -50%);
                        // cursor: pointer;
                    }
                }
                
            
            .button__container{
                button{
                    width: 100%;
                }
            }
        
    }
}


@media only screen and (max-width: 480px){
    .shopcreate__main{
        margin-top: 2rem;
    }
}