@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700;900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Domine:wght@400;500;600&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Pacifico&display=swap');

*, *::after, *::before{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.Toastify{
  position: absolute;
  top: 0;
  right: 0;
}

body{
    font-family: 'Roboto', sans-serif;
    font-size: 1em;
}

html {
    font-family: "Poppins", sans-serif;
    -ms-scroll-chaining: none;
        overscroll-behavior: contain;
  }



@import "./sass/variable";
@import "./sass/mixin";
@import "./sass/globle";



  
  /**
   * scrollbar style
   */
  
  ::-webkit-scrollbar { 
    width: 15px !important; 
  }
  
  ::-webkit-scrollbar-track {
    background: $cultured !important;
    border-left: 1px solid $cultured !important;
  }
  
  ::-webkit-scrollbar-thumb {
    background: hsl(0, 0%, 80%) !important;
    border: 3px solid $white !important;
    -webkit-border-radius: 10px !important;
            border-radius: 10px !important;
  }
  
  ::-webkit-scrollbar-thumb:hover { background: hsl(0, 0%, 70%) !important; }




  


  .products__row{
    display: grid;
    grid-template-columns: repeat(4, auto);
    grid-template-rows: auto auto;
    gap: 10px;
  }

  @media only screen and (max-width: 1024px){
    .products__row{
        grid-template-columns: repeat(3, auto) !important;
        grid-template-rows: auto auto auto;
    }
  }

  @media only screen and (max-width: 768px){
    .products__row{
        grid-template-columns: repeat(3, auto) !important;
        grid-template-rows: auto auto auto;
    }
    *{
      cursor: default !important;
    }
  }

  @media only screen and (max-width: 480px){
    .products__row{
        grid-template-columns: auto auto !important;
        grid-template-rows: auto auto auto auto ;
    }
    
  }

  @media only screen and (max-width: 300px){
    .products__row{
        grid-template-columns: auto !important;
        grid-template-rows: repeat(8, auto);
    }
  }