@import "../../../sass/variable";

.shop__all__products {
  height: 80vh;
    overflow-y: scroll;
 
    &::-webkit-scrollbar { 
        width: 0px !important; 
      }
 
  .products__row{
    grid-template-columns: auto auto auto;
    gap: 1rem;

    .product__col{
      position: relative;
      .icon__edit{
        position: absolute;
        top: 0;
        left: 0;
        background-color: #CECECE;
        z-index: 10;
        font-size: 1.5rem;
        color: #333;
        padding: 5px;
        cursor: pointer;
      }
    }
  }
}

.not_products{
  width: 100%;
  height: 70vh;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  text-align: center;
  gap: 1rem;
  p{
    font-size: $fs-7;
    font-family: $font-domine;

  }

  // display: flex;
}

@media only screen and (max-width: 1024px){
  .shop__all__products {
 
    .products__row{
      grid-template-columns: auto auto !important;
      gap: 10px;
    }
  }
}


@media only screen and (max-width: 768px){
  .shop__all__products {
    height: 91vh;
    .products__row{
      grid-template-columns: auto auto auto !important;
      gap: 10px;
    }
  }
}

@media only screen and (max-width: 480px){
  .shop__all__products {
 
    .products__row{
      grid-template-columns: auto auto !important;
      gap: 10px;
    }
  }
}