@import "../../../sass/variable";

.checkout__main{
    .row{
        width: 100%;
        display: flex;
        
        .address__col{
            flex-basis: 57%;
            background-color: #fff;
            border-right: 1px solid #adadad;
            padding: 50px 50px 50px 120px;
            height: 85vh;

            .heading{
                display: flex;
                justify-content: space-between;
                align-items: center;
                h2{
                    font-size: $fs-4;
                    font-weight: $weight-500;
                    font-family: $font-domine;
                }
                .account{
                    p{
                        font-size: $fs-7;
                    }
                    a{
                        color: blue;
                        text-decoration: underline;
                    }
                }
            }

            .input__main__container{
                margin: 1rem 0;
                input, select{
                    width: 100% !important;
                    padding: 10px 10px;
                    margin-bottom: 15px;
                    border: 1px solid #eee;
                    color: #000;
                    border-radius: 6px;
                    font-size: 13px;
                    line-height: 20px;
                    &:focus{
                        &:focus{
                            outline: unset;
                            border-style: inset;
                            border: 1px solid #333;
                           }
                    }
                }
                .input__row{
                    display: flex;
                    gap: 1.5rem;
                    .box{
                        width: 100%;
                    }
                }
            }
            .choose__address{
                .saved__address{
                    display: flex;
                    align-items: center;
                    justify-content: space-between;
                    gap: 1rem;
                    .open_saved_address{
                        display: flex;
                        align-items: center;
                        gap: 1rem;
                    }
                    p{
                        font-size: $fs-6;
                        cursor: pointer;
                    }
                    .icon{
                        padding-top: 5px;
                        font-size: 1.5rem;
                    }
                }
                .address__box{
                    width: 20px;
                    margin-bottom: 5px;
                    display: flex;
                    gap: 10px;
                    label{
                        font-size: $fs-8;
                        color: #333;
                        letter-spacing: 0.5px;
                    }
                }
            }

        }

        .coupon__col{
            flex-basis: 43%;
            padding: 50px 120px 50px 50px;
            background-color: $footer-back;

            .cart__products{
                h4{
                    padding-bottom: 1rem;
                    font-size: 15px;
                    text-transform: capitalize;
                    color: #585858;
                    span{
                        font-size: 18px;
                        color: #E53A49;
                    }
                }
                .product__row{
                    display: flex;
                    justify-content: space-between;
                    align-items: center;
                    margin-bottom: 1rem;
                    .col{
                        .img{
                            position: relative;
                            width: 70px;
                            height: 70px;
                            border: 1px solid #dfdfdf;
                            border-radius: 10px;
                            img{
                                width: 100%;
                                height: 100%;
                                object-fit: contain;
                            }
                            .product__qty{
                                position: absolute;
                                background-color: #333;
                                top: -10%;
                                right: -10%;
                                min-width: 20px;
                                min-height: 20px;
                                display: flex;
                                justify-content: center;
                                align-items: center;
                                color: #fff;
                                font-size: $fs-8;
                                border-radius: 50%;
                            }
                        }
                    }
                }
                .img__row{
                    display: flex;
                    gap: 2rem;
                    align-items: center;
                    .product__name{
                        p{
                            font-size: $fs-6;
                            font-weight: $weight-500;
                        }
                        span{
                            font-size: $fs-8;
                            color: $spanish-gray;
                        }
                    }
                }
                .col_price{
                    p{
                        font-size: $fs-7;
                    }
                }

                .discount__code{
                    margin: 30px 0;
                    display: flex;
                    justify-content: space-between;
                    input{
                        width: 72%;
                        padding: 10px 20px;
                        font-size: $fs-7;
                        border-radius: 5px;
                        outline: none;
                        border: 1px solid $spanish-gray;
                    }
                    button{
                        width: 25%;
                    }
                }

                .price{
                    .row{
                        display: flex;
                        justify-content: space-between;
                        align-items: center;
                        margin-bottom: 5px;
                        p{
                            font-size: $fs-7;
                            font-weight: $weight-400;
                        }
                    }
                    .shipping{
                        .shipping__price{
                            color: $spanish-gray;
                        }
                    }
                    .total{
                        margin-top: 10px;
                        .total__text, .total__price{
                            font-size: $fs-6;
                            font-weight: $weight-500;
                        }
                    }
                }
            }
        }
    }
}

@media only screen and (max-width: 768px){
    .checkout__main{
        .row{
            flex-direction: column;
            
            .address__col{
                border-right: 0;
                padding: 50px 50px 50px 50px;
                border-bottom: 1px solid #adadad;
            }
    
            .coupon__col{
                padding: 50px 50px 50px 50px;
    
                .cart__products{
    
                    .product__row{
                        justify-content: space-between;
                    }
                    .img__row{
                        gap: 2rem;
                        align-items: center;
                        .product__name{
                            p{
                                font-size: $fs-6;
                                font-weight: $weight-500;
                            }
                            span{
                                font-size: $fs-8;
                                color: $spanish-gray;
                            }
                        }
                    }
    
                    .price{
                        .row{
                            flex-direction: row;
                        }
                    }
                }
            }
        }
    }
}



@media only screen and (max-width: 480px){
    .checkout__main{
        .row{
            .address__col{
                padding: 30px 10px;
            }
    
            .coupon__col{
                padding: 30px 10px;
    
                .cart__products{
                    .product__row{
                        justify-content: space-between;
                    }
                    .img__row{
                        gap: 1rem;
                    }
                }
            }
        }
    }
}