@import "../../../sass/variable.scss";

.admin__container{
    .dashboard__row{
        display: grid;
        grid-template-columns: 250px auto;
        gap: 4rem;

        .admin__orders{
            margin-top: 2rem;
            .dashboard_heading{
                font-size: $fs-7;
                color: #333;
                font-family: $font-domine;
            }

            //
            
            
        }
    }
}


@media only screen and (max-width: 768px){
    .dashboard__container{
        .dashboard__row{
            grid-template-columns: 40px auto;
            gap: 1.5rem;
            .dashboard__sidebar{
                background: $white;
               
            }
        }
    }

}


@media only screen and (max-width: 480px){
    .profile__container{
        .profile__row{
            gap: 1rem;
        }
    }

}