@import "../../sass/variable";

.coustomer__service__main{
    width: 100%;
    height: 84.5vh;
    // background: rgba(0,0,0,0.5);  
    // background:rgba(0,0,0,0.1) url('../../../public/coustomerService.png');  
    background: linear-gradient(0deg, rgba(0, 0, 0, 0.54), rgba(0, 0, 0, 0.69)), url('../../../public/coustomerService.png');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}